@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container{
    width: 100%;
    height: 100%;
}

.head-image{
    width: 100%;
    height: 100%;
    
}

.head-image img{
    height: 100%;
    width: 100%;
    max-height: 620px;
}

.header_data{
    position: absolute;
    background-color: wheat;
    left: 5%;
    top: 20%;
    padding: 30px;
    width: 85%;
    height: 200px;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 1;
}

.header_data h1{
    font-family: 'Damion', sans-serif;
    color: inherit;
    transition: 0.2s;
    font-size: 3rem;
    text-align: center;
    margin-top: 5px;
}

.header_data p{
    font-family: 'Damion', sans-serif;
    color: inherit;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

.header_data img{
    height: 20px;
    opacity: 2 !important;
    width: 50%;
    margin-left: 280px;
    border-radius: 5px;
}

@media only screen and (max-width: 1500px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }
}

@media only screen and (max-width: 1300px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }
}

@media only screen and (max-width: 1050px){

    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 5%;
        top: 20%;
        right: 5%;
        padding: 30px;
        width: 100%;
        height: 200px;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

}

@media only screen and (max-width: 1024px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 7%;
        top: 20%;
        right: 7%;
        padding: 30px;
        width: 100%;
        height: 200px;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }
}

@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6%;
        top: 25%;
        padding: 30px;
        width: 80%;
        height: 60%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 3rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 20px;
        right: 25%;

    } 
}

@media only screen and (max-width: 699px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6%;
        top: 20%;
        padding: 30px;
        width: 80%;
        height: 60%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 3rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 20px;
        right: 25%;

    } 
}

@media only screen and (max-width: 650px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6%;
        top: 15%;
        padding: 30px;
        width: 80%;
        height: 60%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 3rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 20px;
        right: 25%;

    } 
}

@media only screen and (max-width: 540px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 7%;
        top: 10%;
        padding: 30px;
        width: 75%;
        height: 45%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 2rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 1rem;
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 15px;
        right: 25%;
        bottom: 10%;

    } 
}

@media only screen and (max-width: 500px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 7%;
        top: 10%;
        padding: 30px;
        width: 75%;
        height: 45%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 2rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 1rem;
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 15px;
        right: 25%;
        bottom: 10%;

    } 
}

@media only screen and (max-width: 470px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 7%;
        top: 8%;
        padding: 25px;
        width: 75%;
        height: 45%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 2rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 1rem;
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 15px;
        right: 25%;
        bottom: 10%;

    } 
}

@media only screen and (max-width: 425px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6.5%;
        top: 11%;
        padding: 25px;
        width: 75%;
        height: 30%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 13px;
        right: 25%;
        bottom: 10%;

    } 
}

@media only screen and (max-width: 415px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6.5%;
        top: 4%;
        padding: 20px;
        width: 75%;
        height: 12%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 12px;
        right: 25%;
        bottom: 10%;

    }
}

@media only screen and (max-width: 400px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6.5%;
        top: 11%;
        padding: 25px;
        width: 75%;
        height: 30%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 12px;
        right: 25%;
        bottom: 10%;

    }
}

@media only screen and (max-width: 395px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6.5%;
        top: 3%;
        padding: 25px;
        width: 75%;
        height: 12%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 12px;
        right: 25%;
        bottom: 10%;

    }
}

@media only screen and (max-width: 375px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6%;
        top: 4%;
        padding: 20px;
        width: 75%;
        height: 15%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 10px;
        right: 25%;
        bottom: 10%;
    }
}

@media only screen and (max-width: 360px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 6%;
        top: 4%;
        padding: 15px;
        width: 75%;
        height: 15%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 10px;
        right: 25%;
        bottom: 10%;
    }
}

@media only screen and (max-width: 320px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 8%;
        top: 7%;
        padding: 15px;
        width: 75%;
        height: 30%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 9px;
        right: 25%;
        bottom: 10%;
    }
}

@media only screen and (max-width: 280px){
    .container{
        width: 100%;
        height: 100%;
    }

    .head-image{
        width: 100%;
        height: 100%;  
    }  

    .head-image img{
        height: 100%;
        width: 100%;
    }
    
    .header_data{
        position: absolute;
        background-color: wheat;
        left: 8%;
        top: 7%;
        padding: 10px;
        width: 75%;
        height: 30%;
        border-radius: 8px;
        opacity: 0.8;
        z-index: 1;
    }

    .header_data h1{
        font-family: 'Damion', sans-serif;
        color: inherit;
        transition: 0.2s;
        font-size: 1rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .header_data p{
        font-family: 'Damion', sans-serif;
        color: inherit;
        font-size: 0.7rem;
        text-align: center;
        margin-top: 7px;
        font-weight: 600;
    }

    .header_data .flag{
        position: absolute;
        width: 50%;
        height: 8px;
        right: 25%;
        bottom: 10%;
    }
}





